
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html class="no-js" lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>قالب فروشگاهی Palora</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <!-- all CSS hear -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/mainmenu.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">مرورگر شما <strong>قدیمی</strong> است. لطفا مرورگر خود را <a href="http://browsehappy.com/">به روز رسانی نمایید</a> تا تجربه بهتری داشته باشید. با تشکر</p>
    <![endif]-->
    <!-- Add your application content here -->

    <div class="wrapper blog-page">
      
        <!-- mobile-categorei-menu start -->
        <div class="container d-block d-lg-none">
            <div class="vertical-menu mtb-30">
                <span class="categorie-title mobile-categorei-menu">تمامی دسته ها</span>
                <nav>
                    <div class="category-menu sidebar-menu sidbar-style mobile-categorei-menu-list menu-hidden " id="cate-mobile-toggle">
                        <ul>
                            <li class="has-sub">
                                <a href="#">کتاب و مجله </a>
                                <ul class="category-sub">
                                    <li class="has-sub">
                                        <a href="shop.html">چکمه ها</a>
                                        <ul class="category-sub">
                                            <li><a href="shop.html">پیراهن</a></li>
                                            <li><a href="shop.html">عرق گیر</a></li>
                                            <li><a href="shop.html">جلیقه</a></li>
                                            <li><a href="shop.html">قلم</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="shop.html">حلقه ها</a>
                                        <ul class="category-sub">
                                            <li><a href="shop.html">روزانه</a></li>
                                            <li><a href="shop.html">چینی </a></li>
                                            <li><a href="shop.html">پیاده روی</a></li>
                                            <li><a href="shop.html">سفارشی</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- category submenu end-->
                            </li>
                            <li class="has-sub">
                                <a href="#">فیلم، موزیک و بازی </a>
                                <ul class="category-sub">
                                    <li class="menu-tile">دوربین</li>
                                    <li><a href="shop.html">آستین بلند</a></li>
                                    <li><a href="shop.html">آستین کوتاه مجلسی</a></li>
                                    <li><a href="shop.html">آستین کوتاه</a></li>
                                    <li><a href="shop.html">بدون آستین</a></li>
                                </ul>
                                <!-- category submenu end-->
                            </li>
                            <li class="has-sub">
                                <a href="#">هدفون</a>
                                <ul class="category-sub">
                                    <li><a href="shop.html">پیراهن</a></li>
                                    <li><a href="shop.html">کت و ژاکت</a></li>
                                    <li><a href="shop.html">عرق گیر</a></li>
                                    <li><a href="shop.html">لورم ایپسوم متن</a></li>
                                </ul>
                                <!-- category submenu end-->
                            </li>
                            <li class="has-sub">
                                <a href="#">موبایل</a>
                                <ul class="category-sub">
                                    <li><a href="shop.html">موبایل</a></li>
                                    <li><a href="shop.html">تی شرت گرافیکی</a></li>
                                    <li><a href="shop.html">پیراهن</a></li>
                                    <li><a href="shop.html">آستین کوتاه مجلسی</a></li>
                                    <li><a href="shop.html">بدون آستین</a></li>
                                </ul>
                                <!-- category submenu end-->
                            </li>
                            <li class="has-sub">
                                <a href="#">تبلت و لوازم جانبی</a>
                                <ul class="category-sub">
                                    <li><a href="shop.html">پیراهن</a></li>
                                    <li><a href="shop.html">عرق گیر</a></li>
                                    <li><a href="shop.html">جلیقه</a></li>
                                    <li><a href="shop.html">قلم</a></li>
                                </ul>
                                <!-- category submenu end-->
                            </li>
                            <li class="has-sub">
                                <a href="#">خانه، باغچه، حیوانات و ابزار </a>
                                <ul class="category-sub">
                                    <li class="has-sub">
                                        <a href="shop.html">چکمه ها</a>
                                        <ul class="category-sub">
                                            <li><a href="shop.html">پیراهن</a></li>
                                            <li><a href="shop.html">عرق گیر</a></li>
                                            <li><a href="shop.html">جلیقه</a></li>
                                            <li><a href="shop.html">قلم</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="shop.html">حلقه ها</a>
                                        <ul class="category-sub">
                                            <li><a href="shop.html">روزانه</a></li>
                                            <li><a href="shop.html">چینی </a></li>
                                            <li><a href="shop.html">پیاده روی</a></li>
                                            <li><a href="shop.html">سفارشی</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- category submenu end-->
                            </li>
                            <li><a href="#">مد و جواهرات</a></li>
                            <li><a href="#">ورزش و گردش</a></li>
                        </ul>
                    </div>
                    <!-- category-menu-end -->
                </nav>
            </div>
        </div>
        <!-- mobile-categorei-menu end -->
        <!-- breadcrumb-area start -->
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="index.html">خانه</a></li>
                            <li class="breadcrumb-item active">تماس با ما</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area end -->
        <!-- content-wraper start -->
        <div class="content-wraper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-sm-12">
                        <div class="contact-form">
                            <div class="contact-title">
                                <h3>با ما در ارتباط باشید</h3>
                            </div>
                            <form id="contact-form" action="email.php" method="POST">
                                <div class="contact-page-form">
                                    <div class="contact-input">
                                        <div class="contact-inner">
                                            <input name="name" type="text" placeholder="نام *" id="first-name">
                                        </div>
                                        <div class="contact-inner">
                                            <input name="lastname" type="text" placeholder="نام خانوادگی *" id="last-name">
                                        </div>
                                        <div class="contact-inner">
                                            <input type="text" placeholder="ایمیل *" id="email" name="email">
                                        </div>
                                        <div class="contact-inner">
                                            <input name="subject" type="text" placeholder="موضوع *" id="subject">
                                        </div>
                                        <div class="contact-inner contact-message">
                                            <textarea name="message" type="text" placeholder="متن پیام *"></textarea>
                                        </div>
                                    </div>
                                    <div class="contact-submit-btn">
                                        <button class="submit-btn" type="submit">ارسال ایمیل</button>
                                        <p class="form-messege"></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-12">
                        <div class="contact-infor">
                            <div class="contact-title">
                                <h3>تماس با ما</h3>
                            </div>
                            <div class="contact-dec">
                                <p>با عموآری در ارتباط باشید </p>
                            </div>
                            <div class="contact-address">
                                <ul>
                                    <li><i class="fa fa-map-marker"></i> ایران، شیراز</li>
                                    <li><i class="fa fa-phone"></i> <span class="ltr_text">09373353196</span></li>
                                    <li><i class="fa fa-envelope-o"></i> arianrahimibusiness@gmail.com</li>
                                </ul>
                            </div>
                            <div class="work-hours">
                                <h3><strong>ساعات کاری</strong></h3>
                                <p><strong>شنبه تا پنجشنبه</strong>: 8 صبح الی 17 عصر</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wraper start -->

      
    </div>


    <!-- jquery -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <!-- all plugins JS hear -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.mainmenu.js"></script>
    <script src="js/ajax-email.js"></script>
    <script src="js/plugins.js"></script>
    <!-- main JS -->
    <script src="js/main.js"></script>
</body>
</html>

