@{
    TempData["pagename"] = "ورود / ثبت نام کاربر";
    TempData["showslider"] = false;
}



<div class="content-wraper login-register-area bg-gray">
    <div class="container">
        <div class="row">
            <partial name="Login" />
            <partial name="Register" />
        </div>
    </div>
</div>