@{
    ViewData["Title"] = "blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData["showslider"] = false;

}

<div class="content-wraper bg-gray">
    <div class="container">
        <div class="row">
            <div class=" col-sm-12 col-12">
                <div class="main-blog-wrap mt-60">
                    <!-- single-blog-area start -->
                    <div class="single-blog-area">
                        <div class="post-category">
                            <ul>
                                <li><a href="#">مد</a></li>
                                <li>,</li>
                                <li><a href="#">وردپرس</a></li>
                            </ul>
                        </div>
                        <div class="blog-titel 	blog-image">
                            <h1><a href="blog-details.html">مطلب بلاگ تصویری</a></h1>
                        </div>
                        <span class="post-author">
                            <span class="posted-by">ارسال شده توسط </span>مدیر
                        </span>
                        <span class="post-separator"> | </span>
                        <span class="post-date">10 مرداد 1397</span>

                        <div class="post-thumbnail">
                            <a href="blog-details.html">
                                <img src="~/layout/img/blog/blog-bg-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="postinfo-wrapper">
                            <p class="mb-30">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می</p>
                            <a href="blog-details.html" class="readmore button">بیشتر بخوانید</a>
                        </div>
                        <!-- social-comment start -->
                        <div class="social-comment">
                            <div class="social-sharing">
                                <h3 class="social-title">به اشتراک گذاری این مطلب</h3>
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <a href="#" class="blog-comment">3 دیدگاه</a>
                        </div>
                        <!-- social-comment end -->
                    </div>
                    <!-- single-blog-area end -->
                    <!-- single-blog-area start -->
                    <div class="single-blog-area">
                        <div class="post-category">
                            <ul>
                                <li><a href="#"> خلاقانه</a></li>
                                <li>,</li>
                                <li><a href="#">عکاسی</a></li>
                                <li>,</li>
                                <li><a href="#">مسافرت</a></li>
                            </ul>
                        </div>
                        <div class="blog-titel">
                            <h1><a href="blog-details.html">مطلب بلاگ صوتی</a></h1>
                        </div>
                        <span class="post-author">
                            <span class="posted-by">ارسال شده توسط </span>مدیر
                        </span>
                        <span class="post-separator"> | </span>
                        <span class="post-date">8 تیر 1397</span>

                        <div class="post-thumbnail">
                            <div class="blog-audio embed-responsive embed-responsive-16by9">
                                <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/244702956&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&visual=true"></iframe>
                            </div>
                        </div>
                        <div class="postinfo-wrapper">
                            <p class="mb-30">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می</p>
                            <a href="blog-details.html" class="readmore button">بیشتر بخوانید</a>
                        </div>
                        <!-- social-comment start -->
                        <div class="social-comment">
                            <div class="social-sharing">
                                <h3 class="social-title">به اشتراک گذاری این مطلب</h3>
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <a href="#" class="blog-comment">3 دیدگاه</a>
                        </div>
                        <!-- social-comment end -->
                    </div>
                    <!-- single-blog-area end -->
                    <!-- single-blog-area start -->
                    <div class="single-blog-area">
                        <div class="post-category">
                            <ul>
                                <li><a href="#">وردپرس</a></li>
                            </ul>
                        </div>
                        <div class="blog-titel">
                            <h1><a href="blog-details.html">مطلب دارای گالری</a></h1>
                        </div>
                        <span class="post-author">
                            <span class="posted-by">ارسال شده توسط </span>مدیر
                        </span>
                        <span class="post-separator"> | </span>
                        <span class="post-date">10 مرداد 1397</span>

                        <div class="post-thumbnail">
                            <div class="post-slider owl-carousel">
                                <div class="single-post-slider">
                                    <img src="~/layout/img/blog/blog-bg-1.jpg" alt="">
                                </div>
                                <div class="single-post-slider">
                                    <img src="~/layout/img/blog/blog-bg-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="postinfo-wrapper">
                            <p class="mb-30">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می</p>
                            <a href="blog-details.html" class="readmore button">بیشتر بخوانید</a>
                        </div>
                        <!-- social-comment start -->
                        <div class="social-comment">
                            <div class="social-sharing">
                                <h3 class="social-title">به اشتراک گذاری این مطلب</h3>
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <a href="#" class="blog-comment">3 دیدگاه</a>
                        </div>
                        <!-- social-comment end -->
                    </div>
                    <!-- single-blog-area end -->
                    <!-- single-blog-area start -->
                    <div class="single-blog-area">
                        <div class="post-category">
                            <ul>
                                <li><a href="#">ویدئو ها</a></li>
                            </ul>
                        </div>
                        <div class="blog-titel">
                            <h1><a href="blog-details.html">مطلب بلاگ ویدیویی</a></h1>
                        </div>
                        <span class="post-author">
                            <span class="posted-by">ارسال شده توسط </span>مدیر
                        </span>
                        <span class="post-separator"> | </span>
                        <span class="post-date"> 1 شهریور 1397 </span>

                        <div class="post-thumbnail">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="600" height="400" frameborder="0" allowfullscreen="true" src="https://www.youtube.com/embed/iYTSvdI63GA"></iframe>
                            </div>
                        </div>
                        <div class="postinfo-wrapper">
                            <p class="mb-30">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می</p>
                            <a href="blog-details.html" class="readmore button">بیشتر بخوانید</a>
                        </div>
                        <!-- social-comment start -->
                        <div class="social-comment">
                            <div class="social-sharing">
                                <h3 class="social-title">به اشتراک گذاری این مطلب</h3>
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <a href="#" class="blog-comment">3 دیدگاه</a>
                        </div>
                        <!-- social-comment end -->
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
