
@{
    ViewData["Title"] = "InsertProductImage";
    Layout = "~/Views/Shared/layoutAdmin.cshtml";
    Product product = ViewData["product"] as Product;
}
@model ProductImageViewModel
<div class="">
    <div>





        <h1>ورود تصویر کالا</h1>
        <style>
            form {
                padding: 20px;
            }

            label {
                color: green
            }
        </style>

        <div class="container">
            <form asp-controller="product" asp-action="InsertProductImageConfirm"
                  method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                        <label> نام فارسی</label>
                        <input class="form-control" value="@product.name" />
                    </div>
                    <div class="col-md-6">
                        <label>نام لاتین</label>
                        <input class="form-control" value="@product.englishname" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>برند</label>
                        <input class="form-control" value="@product.Brand.name" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputFile">تصویر کالا</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input id="file1" type="file" multiple class="custom-file-input" asp-for="imgbytes">
                                    <label class="custom-file-label" for="exampleInputFile">انتخاب فایل</label>

                                </div>
                                @*<div class="input-group-append">
                                <span class="input-group-text" id="">Upload</span>
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label> عنوان فایل عکس</label>
                        <input class="form-control" asp-for="title" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div id="divimages">
                                <img id="imgpreview" width="100" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <button class="btn btn-success"> ثبت تصویر کالا</button>
            </form>
        </div>

        <script>
            $(() => {
                $(file1).change(function (event) {
                    //event.target.files[0].size
                    var parts = event.target.files[0].name.split('.')
                    if (parts[1].toLowerCase() === "jpg") {
                        var reader = new FileReader()
                        reader.readAsDataURL(event.target.files[0])
                        reader.onloadend = x => {
                            $(imgpreview).attr('src', x.target.result)
                        }
                    } else {
                        alert('فرمت فایل تصویر مناسب نمی باشد')
                    }
                })
            })
        </script>


    </div>
</div>
